
.header{
    background-color: rgb(207, 203, 203);
    color: rgb(236, 223, 223);   
}

.mechnify{
    width: 10rem;
    height: 3rem;
    margin-left: 10%;   
}


#menu{
    list-style: none;
    margin: 0;
    padding: 0;  
} 


#menu li{
    display: inline-block;
}

#menu li a{
    color: black;
    padding: 15px 10px;
    display: block;   
}

#menu li a:hover{
    color: black;
    background-color: rgb(202, 181, 181);
    text-decoration: none;
}


.home{
    margin-right: 15px;
    margin-top: -2px;
}
.about{
    margin-left: 20px;
}

.gallery{
    margin-left: 20px;
}

.contect{
    margin-left: 20px;
}
.payment{
    margin-left: 20px;
}






.card-form{
    margin-top: -455px;
    margin-left: 51%;
    margin-top: 90px;
}

.no{
    background-color: blue;
    color: white;
    text-align: center;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: -3px;
}

.Email{
    width: 5%;
    height: 18%;
    margin-top: 43px;
    color: white;

}

.card-form{
    background-color:rgb(223, 217, 217);
    margin-top: -465px;
    border-radius: 3px;
    margin-right: 20px;
}




.page-footer{
    background-color: #000;
    margin-top:100px;
    color: white;
}

.main-photos{
    width: 8rem;
    height: 3rem;
}

.footer-one{
    background-color: rgb(53, 51, 51);
    color: white;
    height: 4rem;
}
.insta{
    width: 2rem;
    height: 2rem;
    border-radius: 25%;
    margin-left: 38%;
    margin-top: 3px;
}

.small{
    margin-left: 20%;
}

